<h1>New task</h1>

<%# brand-new task with nothing %>
<%= form_for @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />
  <%= f.label :details %>
  <%= f.text_field :details %>
  <br />
  <%= f.label "Completed" %>
  <%= f.check_box :completed %>
  <%= f.submit %>
<% end %>

<p>
<%= link_to 'Back to list', tasks_path %>
</p>
